/* Css reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height:59px;
}

/* Navigation Bar */

#backlogo{
    background-image: radial-gradient(#e4706a,#af8282,#b918c3);
    border-radius:100% ;
}

#navbar{
    display: flex;
    align-items: center;
}

/* Navigation Bar:Logo and Image */
#logo{
    margin:5px 10px;
}

#logo img{
    margin: 5px 10px;
    height: 70px;
    width: 90px;
}

#navbar{
    position:relative;
}

/* Navigation Bar:List styling */
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar::before{
        content: "";
        background-color: black;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.4;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* home section */

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 400px;
}

#home::before{
    content: "";
    position: absolute;
    background-image: url("File/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

/* Services Selection */

#servises{
    margin: 34px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
}

#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}

/* utility classes */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}

